@charset "utf-8";

.color-white {
  color: white;
}

.display-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.fc-event-title {
    white-space: normal;
}